*{margin: 0;
padding: 0;
box-sizing: border-box;}

.main{
  /* height: 100vh; */
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */


}

.centerd{

background-color: aquamarine;


display:flex;

/* height: 100%; */


width:100%;

}


.row{
  justify-content: space-evenly;
  text-align: center;

}

input{
  background-color: aquamarine;
  border:none;
  border-bottom: 2px solid black;
  outline: none;

}

.r1{
  text-align: end;
  border-bottom: 2px solid rgb(65, 59, 59);
  border-radius: 40%;
}


.op{
  display: inline;
  /* flex-direction: column-reverse;
   */
   text-align: end;
  
   flex-direction: column-reverse;
 /* justify-content: flex-end; */
 justify-content: space-between;
}
.oop{
  /* justify-content: space-around; */
  justify-content: space-around;
align-items: flex-end;
flex-direction: column-reverse;
 
}
.opq{
  /* margin-left: 200px; */
}

